section.pricing {
    background: #16A085;
    background: linear-gradient(to right, #16A085, #1ABC9C);
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 6rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 1rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn{
    font-size: 80%;
    border-radius: 5rem;
    border-color: #1ABC9C;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    background: linear-gradient(to right, #16A085, #1ABC9C);
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }


  .alime-portfolio-area {
    position: relative;
    z-index: 1; }
    .alime-portfolio-area .container-fluid {
      padding-right: 10%;
      padding-left: 10%; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .alime-portfolio-area .container-fluid {
          padding-right: 5%;
          padding-left: 5%; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .alime-portfolio-area .container-fluid {
          padding-right: 5%;
          padding-left: 5%; } }
      @media only screen and (max-width: 767px) {
        .alime-portfolio-area .container-fluid {
          padding-right: 5%;
          padding-left: 5%; } }
  
  .alime-projects-menu {
    position: relative;
    z-index: 1;
    margin-bottom: 40px; }
    .alime-projects-menu .portfolio-menu .btn {
      position: relative;
      z-index: 1;
      padding: 0;
      border: 0;
      background-color: transparent;
      font-size: 20px;
      font-weight: 600;
      border-radius: 0;
      margin: 0 25px;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
      @media only screen and (max-width: 767px) {
        .alime-projects-menu .portfolio-menu .btn {
          font-size: 14px;
          margin: 0 5px; } }
      .alime-projects-menu .portfolio-menu .btn::after {
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        width: 0%;
        height: 3px;
        background-color: #fc6060;
        content: '';
        bottom: -5px;
        left: 0;
        right: 0;
        z-index: 1; }
      .alime-projects-menu .portfolio-menu .btn.active::after {
        width: 100%; }
  
  .single-portfolio-content {
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    overflow: hidden; }
    .single-portfolio-content img {
      width: 100%;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
    .single-portfolio-content .hover-content {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      visibility: hidden;
      z-index: 10; }
      .single-portfolio-content .hover-content a {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 0;
        margin-left: -26px;
        z-index: 100;
        display: inline-block;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #fc6060;
        text-align: center;
        line-height: 52px;
        font-size: 30px;
        color: #ffffff; }
        .single-portfolio-content .hover-content a:hover, .single-portfolio-content .hover-content a:focus {
          background-color: #000000; }
    .single-portfolio-content:hover img, .single-portfolio-content:focus img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
    .single-portfolio-content:hover .hover-content, .single-portfolio-content:focus .hover-content {
      opacity: 1;
      visibility: visible; }
      .single-portfolio-content:hover .hover-content a, .single-portfolio-content:focus .hover-content a {
        margin-top: -26px; }


  
